.user-op-form {
  width: 500px;
}

.metamask-form {
  display: flex; // Enable Flexbox container
  flex-direction: row;

  table {
    border-collapse: collapse;
    table-layout: auto;
    margin: 10px;
  }

  td {
    border: 0;
  }

  button {
    margin: 8px; // 調整您想要的間距寬度
    font-size: 14px;
    width: 80px; // 調整按鈕寬度
    height: 60px; // 調整按鈕高度
  }
}

.aa-deploy-form {
  display: flex;
  flex-direction: row;

  input {
    width: 75px;
  }

  table {
    border-collapse: collapse;
    table-layout: auto;
    margin: 10px;
  }

  td {
    border: 0;
  }

  button {
    margin: 8px; // 調整您想要的間距寬度
    font-size: 14px;
    width: 80px; // 調整按鈕寬度
    height: 60px; // 調整按鈕高度
  }
}

.transfer-token-form {
  display: flex;
  flex-direction: column;

  input {
    width: 400px;
    height: 20px;
  }

  select {
    width: 150px;
    height: 20px;
  }

  button {
    margin: 8px; // 調整您想要的間距寬度
    font-size: 14px;
    width: 180px; // 調整按鈕寬度
    height: 60px; // 調整按鈕高度
  }
}

.user-op-form {
  button {
    margin: 8px; // 調整您想要的間距寬度
    font-size: 14px;
    width: 800px; // 調整按鈕寬度
    height: 20px; // 調整按鈕高度
  }

  input {
    width: 450px;
    height: 20px;
  }

  table {
    border-collapse: collapse;
    table-layout: auto;
    width: 800px;
  }

  td {
    border: 0;
  }
}

.Error {
  color: red;
}
