.user-op-form {
    width: 500px;
}

.metamask-form {
    display: flex; // Enable Flexbox container
    flex-direction: row;
    gap: 10px; // Flexbox item

    section {
        padding: 10px; // 調整 section 內容的內距
        font-size: 16px; // 調整 section 內容的字體大小
        white-space: nowrap; // 防止文字換行
        overflow: hidden; // 超出部分隱藏
        text-overflow: ellipsis; // 超出部分以省略符號表示
    }

    button {
        margin: 8px; // 調整您想要的間距寬度
        font-size: 14px;
        width: 80px; // 調整按鈕寬度
        height: 60px; // 調整按鈕高度
    }
}

.aa-deploy-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        width: 75px;
    }

    button {
        margin: 8px; // 調整您想要的間距寬度
        font-size: 14px;
        width: 80px; // 調整按鈕寬度
        height: 60px; // 調整按鈕高度
    }

    section {
        padding: 10px; // 調整 section 內容的內距
        font-size: 16px; // 調整 section 內容的字體大小
        white-space: nowrap; // 防止文字換行
        overflow: hidden; // 超出部分隱藏
        text-overflow: ellipsis; // 超出部分以省略符號表示
    }
}

.user-op-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    padding-right: 0;
    input {
        width: 300px;
    }
}

.user-op-form > form > div {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.Error {
    color: red;
}
