/* App.module.css */

/* 模組樣式設定 */

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #f0f0f0;
  }
  
  /* 其他模組樣式設定 */
  
  